.exciseBox ul {
    background: #eee;
    list-style-type: none;
    width: 210px;
    height: 210px;
    padding: 0px;
    display: table;
}

.exciseBox ul li {
    background: #ccc;
    text-align: center;
    margin: 5px;
    width: 60px;
    height: 60px;
    float: left;
    box-sizing: border-box;
    line-height: 3.5em;
}

.exciseBox ul li:hover {
    border: 1px dotted brown;
}